.App {
  font-family: sans-serif;
  text-align: center;
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
h3 {
  text-align: center;
}
h4 {
  text-align: center;
}
input {
  background-color: rgba(197, 21, 89, 0.4);
  color: black;
  border-radius: 30px;
  text-align: center;
  margin-right: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-color: rgba(197, 21, 89, 1);
  padding: 5px;
}
::placeholder {
  color: black;
}
.city {
  background-color: rgba(6, 62, 165, 0.5);
  border-radius: 30px;
  margin: 10px 30% 10px 30%;
  padding: 10px;
}
.col {
  background-color: rgba(190, 96, 178, 0.3);
  border: 10px solid white;
  border-radius: 30%;
  text-align: center;
  margin: 40px auto;
  display: inline-block;
  padding: 20px;
}
.row2 {
  border: 2px solid rgba(6, 62, 165, 0.4);
  background-color: rgba(124, 134, 155, 0.1);
  margin: 0 auto;
  display: inline-block;
  width: 40%;
  margin-bottom: 40px;
}
.col-12 {
  display: block;
  text-align: center;
  font-size: large;
  font-weight: bold;
}
.card {
  display: block;
  text-align: center;
  margin: 10px auto;
  background-color: rgba(96, 96, 168, 0.3);
  float: none;
  margin-bottom: 10px;
  max-width: 60%;
}
button {
  display: block;
  text-align: right;
  background-color: rgba(124, 134, 155, 0.4);
  color: black;
  border-radius: 30px;
  margin-left: 50%;
}
.icon {
  width: 100px;
  display: block;
  text-align: center;
  margin: 20px auto;
}
.active {
  color: black;
  cursor: default;
  text-decoration: none;
}
.active:hover {
  text-decoration: none;
  color: black;
}
.TemperatureUnit {
  font-size: 25px;
  font-weight: bold;
}
.col-6 {
  margin: 5px auto;
}
.minTemp {
  opacity: 0.4;
}
